/* Colors */
$project-colors: (
    primary: (
        color1: hsl(14, 100%, 80%),
        color2: hsl(14, 100%, 20%),
    ),
    neutral: (
        color3: hsl(218, 89%, 80%),
        color4: hsl(219, 89%, 20%),
    )
);